* {
    margin:0;
    padding:0
}

html, body {
    min-height:100%;
    height:100%;
    width:100%
}

body {
    background:url(img/background.jpg) left top no-repeat;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

a {
    color:#000
}

/* Clearfix */

.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    zoom:1;
}

/* Static Pages */

#hello a {
    text-decoration:none }

#hello a:hover {
    text-decoration:underline }

#hello article {
    margin:12% auto 0;
    width:550px
}

#hello article header {
    display:inline-block;
    position:relative
}

#hello article header h1 {
    background:url(img/bg-hello-logo.png) left top no-repeat;
    position:absolute;
    left:176px;
    height:179px;
    width:198px;
    text-indent:-9999px }

#hello article .twitter-button {
    margin:300px auto 0;
    text-align:center }

#hello article .twitter-button a {
    background: #31759d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31759d), color-stop(100%,#185e88));
    background: -webkit-linear-gradient(top,  #31759d 0%,#185e88 100%);
    color:#fff;
    outline:4px solid rgba(255,255,255,.07);
    display:inline-block;
    font-size:85%;
    line-height:50px;
    padding:0 40px 0 20px;
    text-shadow:0 1px 1px #000 }

    #hello article .twitter-button a span {
        background:url(img/bg-twitterbird.png) right center no-repeat;
        display:block;
        margin-right:70px;
        width:100% }

#hello article footer,
#hello article footer a {
    color:#737373;
    text-decoration:none }

#hello article footer {
    bottom:10px;
    font-size:70%;
    position:fixed;
    text-align:center;
    text-shadow:0 1px 1px #000;
    width:550px }

/* # Static Pages */

.overlay {
    -webkit-box-align:center;
    -webkit-box-pack:center;
    -webkit-transition:0.25s opacity;
    background:-webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
    bottom:0;
    display:-webkit-box;
    left:0;
    padding-bottom: 130px;
    position:fixed;
    right:0;
    top:0;
    z-index:2 }

.dialog {
    border-radius:6px;
    box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    color:#404040;
    position:absolute;
    top:20%;
    max-width:460px;
    width:460px;
    z-index:3 }

    .dialog .close {
        margin:10px 15px 0 0 }

    .dialog header {
        border-bottom: 1px solid #eee }

        .dialog header h3 {
            margin:30px 70px 20px 20px }


#loading {
    color:#efefef;
    font-size:80%;
    position:absolute;
    right:400px;
    top:10px;
    z-index:100 }

.topbar img.avatar {
    border:4px solid rgba(255, 255, 255, 0.5);
    border-radius:3px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    left:10px;
    top:10px;
    position:absolute;
    width:30px
}

.topbar {
    z-index:1 !important
}

.topbar .brand {
    background:url(img/bg-app-logo.png) 20px 10px no-repeat;
    display:block;
    height:16px;
    text-indent:-999999px;
    width:100px }

.topbar .pull-right {
    color:#fff;
    padding-left:65px;
    position:relative }

.topbar .logout {
    color:#404040;
    font-size:80%;
    padding-left:10px }

.topbar .logout:hover {
    color:#fff }


#header section#user nav {
    display:none
}

#header section#user nav ul {
    list-style-type:none
}

#poster {
    position:absolute;
    top:200px;
    width:400px
}

#poster > img {
    width:400px
}

##poster > * {
    display:none;
    cursor:move;
    position:absolute }

#poster > p {
    border-radius:5px;
    padding:5px 10px }

#hogwarts {
    background:#fff
}

#hogwarts .close {
    color:black;
    float:right;
    font-size:20px;
    font-weight:bold;
    line-height:13.5px;
    opacity:0.25 
    text-shadow: 0 1px 0 white;
    filter: alpha(opacity=25);
    -khtml-opacity:0.25;
    -moz-opacity:0.25 }


#hogwarts .examinationsroom {
    margin:10px 0 30px
}

#hogwarts .examinationsroom ul {
    list-style-type:none
}

#hogwarts .controls {
    background-color:whiteSmoke;
    border-top: 1px solid #ddd;
    border-radius:0 0 6px 6px;
    box-shadow:inset 0 1px 0 #fff;
    padding-top:16px;
    position:relative
}

#hogwarts .controls ul.flow {
    float:right;
    list-style-type:none;
    margin-right:20px }

#hogwarts .controls ul.flow li {
    cursor:pointer;
    float:left;
    margin-right:10px
}

#hogwarts .controls ul.flow li:last-child {
    margin:0
}

#hogwarts #lucius .format {
    margin:40px 20px 40px 0
}

#hogwarts #lucius .format li {
    border:1px solid #ddd;
    cursor:pointer;
    display:inline-block;
    height:70px;
    position:relative;
    text-align:center;
    width:200px;
}

#hogwarts #lucius .format li span {
    bottom:10px;
    display:block;
    position:absolute;
    text-align:center;
    width:100%
}

#hogwarts #lucius .format li:hover,
#hogwarts #lucius .format li.selected {
    background:whiteSmoke;
    -webkit-transition: background 0.2s ease-in;
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in }

#hogwarts #lucius .format li.selected span {
    font-weight:bold
}

#hogwarts #hermione .mode {
    margin-left:0;
    padding:20px 20px 0
}

#hogwarts #hermione .mode li {
    border:1px solid #ddd;
    cursor:pointer;
    display:inline-block;
    height:70px;
    position:relative;
    text-align:center;
    width:180px }

#hogwarts #hermione .mode li span {
    bottom:10px;
    display:block;
    position:absolute;
    text-align:center;
    width:100%
}

#hogwarts #hermione .mode li:hover,
#hogwarts #hermione .mode li.selected {
    background:whiteSmoke;
    -webkit-transition: background 0.2s ease-in;
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in }

#hogwarts #hermione .mode li.selected span {
    font-weight:bold
}

#hogwarts #ron .tweets {
    margin:20px;
    margin-left:0;
    max-height:200px;
    overflow:auto
}

#hogwarts #ron .tweets ul li {
    border-bottom:1px solid #efefef;
    cursor:pointer;
    padding:10px;
}

#hogwarts #ron .tweets ul li.selected {
    background:#efefef
}

#hogwarts #ron .tweets .more {
    display:block;
    margin:30px 20px 20px 20px;
    text-align:center
}

#hogwarts #ron .spinner {
    left:30px;
    position:absolute;
    top:20px
}

#hogwarts #draco .tweet {
    display:block;
    font-family:georgia;
    font-size:140%;
    line-height:1.4em;
    margin:20px;
    width:320px }

#hogwarts #draco .retry {
    display:block;
    margin:30px 20px 20px 20px;
    text-align:center }

#hogwarts #harry .tweet {
    margin:20px 0 30px;
    font-family:Georgia;
    text-align:center;
    font-size:140%;
    line-height:1.7em }

#hogwarts #harry ul {
    margin-right:25px }

#hogwarts #harry ul li {
    margin-top:20px }