<!doctype html> 
<html> 
	<head> 
        <link rel="stylesheet" href="stylesheets/oatflake/screen.css"> 
        <link rel="stylesheet" href="stylesheets/oatflake/bootstrap.css">

        <title>${title}</title> 
 
        <meta name="author" content="Judith Ngo &amp; André König" /> 
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
	</head>
 
    <body> 
        {{html body}}

        <script type="text/javascript" data-main="javascripts/app" src="javascripts/vendor/require.js"></script>
    </body>
</html>